*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#parent{
    border: 1px solid red;
}

.child{
    height: 200px;
    width: 200px;
    background: greenyellow;
    margin: 10px;
    
}